//"О нас" - блок тезисной информации с заголовком и иконками

.about {
  margin: 0;
}

.about__title {
  @include font($bold, 25px, 30px, $black);
}

.about__items {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.about__item {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about__item-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &--flower {
    background-image: url('../../img/icon-feature-flower.svg');
    width: 32px;
    height: 37px;
  }

  &--money {
    background-image: url('../../img/icon-feature-money.svg');
    width: 47px;
    height: 27px;
  }

  &--heart {
    background-image: url('../../img/icon-feature-heart.svg');
    width: 34px;
    height: 27px;
  }

  &--yarn {
    background-image: url('../../img/icon-feature-ball.svg');
    width: 35px;
    height: 34px;
  }

  &--rocket {
    background-image: url('../../img/icon-feature-rocket.svg');
    width: 55px;
    height: 23px;
  }

  &--gift {
    background-image: url('../../img/icon-feature-gift.svg');
    width: 33px;
    height: 32px;
  }
}

.about__item-text {
  @include font($bold, 17px, 20px, $black);
}

//End
