//Базовый стиль кнопки

.button {
  height: 52px;
  box-sizing: border-box;
  border: 2px solid $gray;
  background-color: $white;
  outline: none;

  @include font($bold, 18px, 20px, $gray);
  text-transform: uppercase;

  &:hover {
    background-color: $gray;
    color: $white;
  }

  &:active {
    background-color: $gray;
    color: rgba(255, 255, 255, 0.3);
  }
}

//End
