//Базовый стиль кнопки

.button {
  height: 52px;
  box-sizing: border-box;
  border: 2px solid $gray;
  background-color: $white;

  @include font($bold, 17px, 20px, $gray);
  text-transform: uppercase;
}

//End
