.cart {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $light-gray;

  &__link {
    @include font($bold, 17px, 24px, $black);
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      width: 21px;
      height: 18px;
      margin-right: 24px;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }
  }

  &__state {
    margin: 0;
    padding: 0;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .cart {
    border-bottom: none;

    &__link {
      justify-content: flex-end;
      margin: 26px 0;
      padding: 0;

      &::before {
        margin-left: 30px;
      }
    }
  }
}

///////////////////////////////////////////////// The end
