.catalog {
  padding: 0;
}

.catalog__link {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  min-height: 103px;
  outline: none;

  @include font($bold, 19px, 24px, $white);
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    align-self: center;
    padding: 0;
    opacity: 0.5;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--interior {
    background-color: $blue;

    &::after {
      background-image: url("../img/icon-interior.svg");
    }

    &:hover,
    &focus {
      background-color: $blue-hover;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $blue-hover;
      color: rgba($white, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--toys {
    background-color: $dark-blue;

    &::after {
      background-image: url("../img/icon-toy.svg");
    }

    &:hover,
    &:focus {
      background-color: $dark-blue-hover;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $dark-blue-hover;
      color: rgba($white, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }
}

.catalog__text {
  padding: 24px 30px 24px 0;
  margin: 0;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .catalog__link {
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;

    &:hover,
    &:focus {
      min-height: 124px;
      margin-top: 0;
    }

    &--toys::after {
      margin-right: 6px;
    }
  }

  .catalog__text {
    padding: 28px 35px 25px 5px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .catalog__link {
    max-width: 525px;
  }
}
///////////////////////////////////////////////// The end
