.contacts {
  position: relative;
  padding: 0;
}

.contacts__content {
  padding: 0 30px;
  margin-bottom: 14px;
}

.contacts__title {
  @include font($bold, 18px, 30px, $black);
  padding: 0;
  margin: 0 0 20px 0;
}

.contacts__email,
.contacts__address {
  box-sizing: border-box;

  @include font($regular, 15px, 30px, $gray);
  margin: 0;
  padding: 5px 5px 25px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.contacts__email-title,
.contacts__address-title {
  flex-shrink: 0;
  width: 80px;
  margin: 0;
  padding: 0;
}

.contacts__email-value {
  box-sizing: border-box;
  color: $gray;
  text-decoration: none;
  border-bottom: 1px solid $blue;
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-bottom: auto;
  overflow-wrap: break-word;
  flex-shrink: 0;

  &:hover {
    color: $dark-blue-hover;
    border-bottom: 1px solid $dark-blue-hover;
  }

  &:active {
    color: $dark-blue-hover;
    border-bottom: 1px solid $dark-blue-hover;
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 455px;

  & iframe {
    display: block;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 3;
  }

  &--static {
    background-image: url("../img/map-mobile@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 145px;
      left: 50%;
      width: 67px;
      height: 100px;
      background-image: url("../img/icon-map-pin.svg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}

.contacts__bottom {
  margin: 40px 0 0;
  padding: 0 30px;
}

.contacts__feedback-btn {
  font-size: 18px;
  width: 100%;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .contacts {
    padding: 0;
  }

  .contacts__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 50px 30px;
    margin: 0;
  }

  .contacts__title {
    position: relative;
    width: 100%;
    margin: 0 0 45px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      right: 2px;
      top: -15px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .contacts__email-title,
  .contacts__address-title {
    width: auto;
    padding-right: 20px;
  }

  .contacts__email {
    width: 50%;
    font-size: 18px;
  }

  .contacts__address {
    width: 50%;
    font-size: 18px;
  }

  .contacts__bottom {
    margin: 60px 0 20px 0;
    display: flex;
    justify-content: space-around;
  }

  .contacts__feedback-btn {
    font-size: 17px;
    width: 230px;
    margin: 0;
  }

  .contacts__map {
    margin: 0;
    padding: 0;

    & iframe {
      display: block;
      height: 457px;
      padding: 0;
      margin: 0;
      left: 0;
      border: none;
      overflow-y: hidden;
    }

    &--static {
      background-image: url("../img/map-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-tablet@2x.jpg");
      }
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    max-width: 1150px;
    padding: 70px 50px 0;
  }

  .contacts__content {
    display: block;
    box-sizing: border-box;
    width: 50%;
    flex-direction: column;
    align-self: stretch;
    padding: 20px 20px 60px 0;
  }

  .contacts__title {
    padding-left: 170px;
    font-size: 53px;
    line-height: 57px;
    margin-top: 50px;
    margin-bottom: 45px;

    &::after {
      margin: 0 60px 0 0;
      left: 62px;
      top: -7px;
    }
  }

  .contacts__email {
    margin-left: auto;
    width: 330px;
  }

  .contacts__address {
    width: 330px;
    margin-left: auto;
  }

  .contacts__email-value,
  .contacts__address-value {
    width: 240px;
  }

  .contacts__bottom {
    position: absolute;
    bottom: -22px;
    left: 50px;
    padding: 0 0 0 175px;
  }

  .contacts__map {
    width: 50%;

    & iframe {
      width: 525px;
    }

    &--static {
      background-image: url("../img/map-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-desktop@2x.jpg");
      }
    }
  }
}

///////////////////////////////////////////////// The end
