.main-page {
  position: relative;
  margin: 0 0 38px;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-page__container {
  padding: 0 30px;
}

.main-page__top-product {
  margin-bottom: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 9px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
    background-position-x: 8px;
  }
}

.main-page__line {
  position: relative;
  height: 8px;
  margin: 0;
}

.main-page__reviews {
  margin-bottom: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 9px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
    background-position-x: 8px;
  }
}

.main-page__contacts {
  margin-top: 35px;
  margin-bottom: 0;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .main-page {
    margin-bottom: 35px;
  }

  .main-page__baner {
    min-height: 746px;
  }

  .main-page__top-product {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    margin-bottom: 62px;

    &::after {
      bottom: -62px;
      height: 17px;
      min-width: 768px;
      background-size: 768px 17px;
      background-position-x: 20px;
    }
  }

  .main-page__about {
    margin: 0 0 30px;
  }

  .main-page__reviews {
    width: 100%;
    margin: 0 0 86px;

    &::after {
      bottom: -86px;
      height: 17px;
      min-width: 768px;
      background-size: 768px 17px;
      background-position-x: 20px;
    }
  }

  .main-page__contacts {
    margin-top: 10px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .main-page {
    padding-bottom: 20px;
  }

  .main-page__top-product {
    margin-top: 50px;
    margin-bottom: 88px;

    &::after {
      margin: 0 auto;
      bottom: -88px;
      height: 23px;
      width: 1050px;
      background-size: 1050px 23px;
      background-position-x: 25px;
    }
  }

  .main-page__about {
    margin-top: 55px;
    margin-bottom: 35px;
  }

  .main-page__reviews {
    box-sizing: border-box;
    width: 1050px;
    margin: 0 auto 92px;

    &::after {
      margin: 0 auto;
      bottom: -92px;
      height: 23px;
      width: 1050px;
      background-size: 1050px 23px;
      background-position-x: 25px;
    }
  }

  .main-page__contacts {
    margin: 0 auto 50px;
  }
}

///////////////////////////////////////////////// The end
