.main-nav {
  padding: 0;
  border-bottom: 1px solid $light-gray;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__burger-btn {
  display: none;
  position: absolute;
  padding: 0;
  top: 29px;
  right: 31px;
  font-size: 0;
  width: 20px;
  height: 20px;
  border: none;
  z-index: 1;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  &--closed {
    display: block;
    background-image: url("../img/icon-menu-open.svg");

    & ~ .main-nav__list {
      &--catalog,
      &--user {
        display: none;
      }
    }
  }

  &--opened {
    display: block;
    background-image: url("../img/icon-menu-close.svg");

    & ~ .main-nav__list {
      &--catalog,
      &--user {
        display: block;
      }
    }
  }
}

.main-nav__logo-link {
  margin: 20px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  width: 100%;

  &--catalog {
    border-top: 1px solid $light-gray;
  }

  &--promo {
    display: none;
  }
}

.main-nav__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 80px;
  border-bottom: 1px solid $light-gray;

  display: flex;
  align-items: center;
}

.main-nav__link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 32px 32px 32px 76px;

  @include font($bold, 17px, 24px, $black);
  text-decoration: none;

  &--search {
    display: flex;
    align-items: center;
    padding-left: 32px;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 26px 0 0;
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    padding-left: 32px;

    &::before {
      content: "";
      display: block;
      width: 21px;
      height: 18px;
      margin: 0 24px 0 0;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__delivery {
  display: none;
}

//////////////////////////////////

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    box-sizing: border-box;
    padding: 0 50px;
    border: none;
  }

  .main-nav__burger-btn {
    display: none;

    & ~ .main-nav__list {
      &--catalog,
      &--user {
        display: flex;
      }
    }
  }

  .main-nav__logo-link {
    order: 0;
    z-index: 2;
    margin-top: 22px;
  }

  .main-nav__list {
    width: auto;

    &--catalog {
      order: 2;
      width: 60%;
      border: none;
      flex-wrap: wrap;
    }

    &--user {
      order: 1;
      z-index: 1;
    }
  }

  .main-nav__item {
    border: none;
    min-height: auto;

    &--catalog {
      padding: 15px 37px 0 0;
    }

    &--search {
      padding: 33px 32px;
      border-left: 1px solid $light-gray;
    }

    &--cart {
      padding: 26px 0 30px 30px;
      border-left: 1px solid $light-gray;
    }
  }

  .main-nav__delivery {
    display: block;
    order: 2;
    padding: 15px 0 0 0;
    height: 100%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100vw;
      height: 100%;
      transform: translateY(-42px);
      background-color: $title-bg;
      border-top: 1px solid $light-gray;
      z-index: -1;
    }

    &--index::after {
      background-color: $baner-bg;
    }
  }

  .main-nav__link {
    padding: 0;

    &--catalog {
      font-size: 15px;
    }

    &--search {
      font-size: 0;

      &::before {
        margin: 0;
      }
    }

    &--cart {
      &::before {
        margin: 0 32px 0 0;
      }
    }

    &--delivery {
      @include font($regular, 15px, 24px, $gray);
    }
  }
}

//////////////////////////////////

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: flex-start;
  }

  .main-nav__logo-link {
    order: 1;
    margin: 8px auto 8px 10px;
  }

  .main-nav__list {
    &--catalog {
      order: 0;
      padding-bottom: 25px;
      width: auto;
      max-width: 440px;
      z-index: 1;
    }

    &--user {
      order: 1;

      &::after {
        display: none;
      }
    }

    &--promo {
      display: flex;
      flex-wrap: wrap;
      order: 2;
      max-width: 440px;
    }
  }

  .main-nav__item {
    &--catalog {
      width: 220px;
      padding: 32px 0 0 0;
    }

    &--promo {
      width: 220px;
      padding: 15px 0 0 0;
    }
  }

  .main-nav__link {
    margin: auto;

    &--catalog {
      font-size: 17px;
    }

    &--promo {
      @include font($bold, 15px, 24px, $black);
    }
  }

  .main-nav__delivery {
    margin-left: auto;
  }
}

////////////////////////// The end
