.main-page {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &__container {
    padding: 0 30px;
  }

  &__zig-zag-fill {
    display: none;
  }

  &__zig-zag-line {
    height: 7px;
  }

  &__contacts {
    padding: 0;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .main-page {
    &__zig-zag-fill {
      display: block;
      height: 24px;
      width: 100vw;
      transform: translateY(-95%);
    }

    &__zig-zag-line {
      display: block;
      height: 15px;
      width: 100vw;
      margin-bottom: 50px;
    }

    &__top-product {
      box-sizing: border-box;
      margin-bottom: 50px;
    }

    &__reviews {
      margin-bottom: 50px;
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .main-page {
    padding-bottom: 100px;

    &__zig-zag-fill {
      height: 34px;
    }

    &__reviews {
      box-sizing: border-box;
    }

    &__contacts {
      margin-top: 40px;
    }
  }
}

///////////////////////////////////////////////// The end
