.main-baner {
  background-color: $baner-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 490px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main-baner__title {
  @include font($bold, 27px, 30px, $black);
  width: 260px;
  text-align: center;
  padding-top: 17px;
}

.main-baner__catalog {
  margin: 0;
  align-self: flex-end;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .main-baner {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -42px;
    min-height: 715px;
    margin-bottom: 24px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      width: 101vw;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position-x: center;
    }
  }

  .main-baner__title {
    font-size: 43px;
    line-height: 50px;
    width: 530px;
    padding: 0;
    margin: 0;
    transform: translateY(-10px);
  }

  .main-baner__catalog {
    margin: 0 0 12px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .main-baner {
    background-image: url("../img/hero-desktop@1x.jpg");
    margin-bottom: 55px;

    &::after {
      height: 34px;
    }
  }

  .main-baner__title {
    font-size: 53px;
    line-height: 57px;
    width: 650px;
    margin: 0;
  }
}

///////////////////////////////////////////////// The end
