.main-menu {
  padding: 0;
  list-style: none;

  &__item {
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray;

    &:first-child {
      border-top: 1px solid $light-gray;
    }
  }

  &__link {
    @include font($bold, 17px, 24px, $black);
    text-decoration: none;
    display: block;
    padding: 30px 75px;
    height: 100%;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .main-menu {
    &__item {
      border-bottom: none;
      padding: 0 35px 0 0;

      &:first-child {
        border-top: none;
      }
    }

    &__link {
      @include font($bold, 17px, 24px, $black);
      text-decoration: none;
      display: block;
      padding: 0;
      margin: 0;
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .main-menu__item {
    padding: 25px 0;
    width: 220px;
  }
}

///////////////////////////////////////////////// The end
