.navigation {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;

  &__logo-link {
    margin: 22px 0;
    font-size: 0;
    display: block;
    width: 86px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/logo-mobile.svg");
  }

  &__main-menu {
    display: block;
    margin: 0;
    width: 100%;
  }

  &__purchase-menu {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &__sub-menu {
    display: none;
  }

  &__delivery {
    display: none;
  }

  &__burger-btn {
    position: absolute;
    padding: 0;
    top: 30px;
    right: 30px;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 1;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;

    &--closed {
      background-image: url("../img/icon-menu-open.svg");

      & ~ .navigation {
        &__main-menu,
        &__purchase-menu {
          display: none;
        }
      }
    }

    &--opened {
      background-image: url("../img/icon-menu-close.svg");

      & ~ .navigation {
        &__main-menu,
        &__purchase-menu {
          display: block;
        }
      }
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .navigation {
    justify-content: space-between;
    flex-direction: row;
    height: 80px;

    &__burger-btn {
      display: none;

      & ~ .navigation {
        &__main-menu,
        &__purchase-menu {
          display: flex;
        }
      }
    }

    &__logo-link {
      background-image: url("../img/logo-tablet.svg");
      margin: 0 auto 0 0;
      width: 113px;
      height: 46px;
    }

    &__main-menu {
      padding: 25px 0;
      top: 105px;
      left: 0;
      width: 60%;
      z-index: 1;
      order: 4;
    }

    &__purchase-menu {
      width: auto;
    }

    &__search {
      display: block;
      align-items: center;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
    }

    &__delivery {
      top: 105px;
      right: 0;
      display: block;
      list-style: none;
      margin: 25px 0;
      padding: 0;
      order: 5;
      z-index: 1;
    }

    &__delivery-link {
      @include font($regular, 15px, 24px, $gray);
      text-decoration: none;

      display: block;
      margin: 0 0 0 35px;
      padding: 0;
      height: 100%;
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .navigation {
    &__logo-link {
      background-image: url("../img/logo-desktop.svg");
      margin: 0;
      width: 149px;
      height: 72px;
      flex-wrap: nowrap;
      justify-self: center;
      order: 2;
    }

    &__main-menu {
      width: auto;
      order: 1;
    }

    &__sub-menu {
      display: flex;
      top: 80px;
      z-index: 1;
      order: 4;
    }

    &__purchase-menu {
      order: 3;
    }
  }
}

///////////////////////////////////////////////// The end
