.navigation {
  padding: 0;
  background-color: $white;
}

.navigation__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 80px;
}

.navigation__logo-link {
  //
}

.navigation__logo-img {
  //
}

.navigation__burger-button {
  position: absolute;
  padding: 0;
  top: 30px;
  right: 30px;

  font-size: 0;
  width: 20px;
  height: 2px;
  border: none;
  outline: none;
  background-color: $black;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translateY(5px);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translateY(11px);
    }
  }

  &--opened {
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translateY(5px) rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translateY(5px) rotate(45deg);
    }

    & + .navigation__popup {
      display: block;
    }
  }
}

.navigation__popup {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 80px;
  background-color: $white;
  z-index: 2;
  display: none;
}

.navigation-burger-button--open {
  //
}

.navigation__main-menu {
  //
}

.navigation__search {
  //
}

.navigation__cart {
  //
}

/////////////////////// The end
