.products {
  //
}

.products__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  list-style: none;
}

.products__item {
  padding: 0;
  margin: 0;
  width: 100%;
}

//End
