.product {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__link-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__image {
    margin: 0;
    padding: 0;
    min-width: 334px;
    width: 100%;
    height: auto;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;
    margin: 0;
    margin-top: -3px;
    padding: 26px 26px 23px;
    width: 100%;
    border: 1px solid $light-gray;
  }

  &__link-title {
    text-decoration: none;
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }

  &__title {
    @include font($bold, 17px, 24px, $black);
    padding: 0;
    margin: 0;
  }

  &__properties {
    @include font($regular, 13px, 30px, $gray);
    align-self: flex-start;
    margin: 0 0 13px 0;
    padding: 5px 0;
  }

  &__bottom {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px 0 5px;
    border-top: 1px solid #ececec;
  }

  &__price {
    @include font($bold, 15px, 24px, $black);
    margin: 0;
    padding: 6px 0 0 0;
  }

  &__to-cart {
    font-size: 0;
    width: 20px;
    height: 19px;
    opacity: 0.2;
    background-image: url("../img/icon-cart.svg");
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .product {
    flex-direction: row;
    justify-content: center;

    &__title {
      font-size: 20px;
    }

    &__link-img {
      width: auto;
    }

    &__content {
      box-sizing: border-box;
      min-height: 334px;
      height: 100%;
    }

    &__properties {
      font-size: 15px;
    }

    &__bottom {
      margin: auto 0 0;
      padding: 23px 0 2px;
    }

    &__price {
      font-size: 17px;
      padding: 0 5px;
    }

    &__to-cart {
      margin-right: 6px;
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;

    &__image {
      min-width: 316px;
    }

    &__content {
      min-height: 197px;
      padding: 26px 30px 26px 26px;
    }

    &__bottom {
      align-self: flex-start;
      margin: auto 0 0;
      padding: 20px 0 0;
    }

    &__price {
      padding: 0;
      margin: 0;
    }

    &__to-cart {
      margin-right: 0;
    }
  }
}
//End
