.production {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $light-gray;
}

.production__video {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.production__image {
  width: 100%;
  height: auto;
}

.production__play-btn {
  position: absolute;
  width: 101px;
  height: 77px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");

  font-size: 0;
}

.production__title {
  @include font($bold, 17px, 24px, $black);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 35px 25px 33px;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 22px;
    margin: 0 23px 0 0;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__content {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 30px;
}

.production__description {
  @include font($regular, 13px, 24px, $gray);
  margin: 0;
  padding: 26px 42px 26px 32px;
  max-width: 100%;
}

.production__purchase-btn {
  font-size: 17px;
  width: calc(100% - 68px);
  margin: 0 auto;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .production__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .production__video {
    box-sizing: border-box;
    position: relative;
    max-width: 668px;
    margin-top: 0;
    order: -1;
  }

  .production__title {
    font-size: 20px;
    margin: 36px 40px 32px;
    padding: 0;

    &::before {
      margin-right: 32px;
    }
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 40px 35px;
  }

  .production__purchase-btn {
    width: calc(100% - 80px);
    margin: 0 auto 45px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .production {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 455px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 682px;
    max-width: 684px;
    margin: 0;
    padding: 0;
  }

  .production__play-btn {
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.3;
    }
  }

  .production__content {
    box-sizing: border-box;
    width: 365px;
    height: 100%;
    margin: 0 0 0 auto;
    padding: 48px 55px 0 77px;
  }

  .production__title {
    display: block;
    margin: 0;
    padding: 0;

    &::before {
      margin-bottom: 25px;
    }
  }

  .production__description {
    margin-top: 35px;
    padding: 0;
  }

  .production__purchase-btn {
    margin-top: 46px;
    margin-bottom: 30px;
    width: 100%;
  }
}

/////////////////////////////////////////End
