
.purchase-popup {
  // display: none;
  padding: 30px;
}

.purchase-popup__title {
  width: 100%;
  font-family: $bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

}

//End
