.purchase-popup {
  padding: 30px;

  &__title {
    @include font($bold, 25px, 30px, $black);
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__size-text {
    @include font($regular, 15px, 30px, $gray);
    text-align: center;
  }

  &__size-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    & + .purchase-popup__size-code {
      display: block;
      box-sizing: border-box;
      width: 82px;
      height: 52px;

      @include font($bold, 17px, 16px, $gray);
      text-align: center;
      padding-top: 15px;
    }

    &:checked + .purchase-popup__size-code {
      border: 2px solid $blue;
    }
  }

  &__submit-btn {
    width: 100%;
    background-color: $blue;
    border-color: $blue;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .purchase-popup {
    width: 566px;
    padding: 45px 105px;
    left: 50%;

    &__title {
      width: 100%;
    }

    &__form {
      width: 350px;
      min-height: 180px;
    }
  }
}
///////////////////////////////////////////////// The end
