.site-page {
  margin: 0;
  padding: 0;

  &__title {
    margin: 0;
  }

  &__zig-zag-fill {
    display: none;
  }

  &__products {
    margin: 30px 30px 0;
  }

  &__production {
    margin: 0 0 30px 0;
  }

  //////// form.html
  &__knit-order {
    margin: 0 0 55px 0;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .site-page {
    padding: 0 50px;

    &__title {
      position: relative;
      padding: 105px 0 80px;
      width: 100vw;
      left: -50px;
    }

    &__zig-zag-fill {
      display: block;
      margin: 0;
      position: absolute;
      left: -50px;
      height: 24px;
      width: 100vw;
      transform: translateY(-100%);
    }

    &__products {
      margin: 65px 0 0;
      width: 100%;
    }

    &__production {
      margin: 0 0 60px;
      width: 100%;
    }

    //////// form.html
    &__knit-order {
      margin: 0 0 55px 0;
    }
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .site-page {
    &__products {
      max-width: 1050px;
      margin: 110px auto 25px;
    }

    &__production {
      max-width: 1050px;
      margin: 0 auto;
    }

    //////// form.html
    &__knit-order {
      max-width: 1050px;
      margin: 0 auto 55px;
    }
  }
}
///////////////////////////////////////////////// The end
