.site-page {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.site-page__title {
  margin: 0;
}

.site-page__zig-zag-fill {
  display: none;
}

.site-page__products {
  margin: 30px 0 0;
  width: 100%;
}

.site-page__production {
  margin: 0 auto 58px;
  width: 100%;
  max-width: 350px;
}

//////// form.html
.site-page__knit-order {
  margin: 0 0 26px 0;
  padding: 0;
  width: 100%;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .site-page__title {
    padding: 105px 0 80px;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .site-page__products {
    margin: 69px 0 0;
  }

  .site-page__production {
    margin: 0 auto 63px;
    max-width: 668px;
  }

  //////// form.html
  .site-page__knit-order {
    margin: 0 0 32px 0;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .site-page__products {
    max-width: 1050px;
    margin: 109px auto 0;
  }

  .site-page__production {
    max-width: 1050px;
    margin: 55px auto 105px;
  }
}
///////////////////////////////////////////////// The end
