.site-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header__main-nav {
  margin: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .site-header__main-nav {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-header__main-nav {
    max-width: 1150px;
    margin: 0 auto;
  }
}

// The end
