.site-header {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &__navigation {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .site-header {
    border-bottom: 1px solid $light-gray;
  }
}

// The end
