.site-footer {
  margin: 0;
  padding: 25px 30px;
  background-color: #f1f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-link {
    display: none;
  }

  &__social {
    width: 140px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    @include font($bold, 19px, 18px, $black);
    margin-right: 30px;
  }

  &__copyright-logo {
    color: $blue;
  }
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;

    &__logo-link {
      display: block;
      font-size: 0;
      width: 102px;
      height: 34px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/logo-mobile.svg");
    }
  }
}

///////////////////////////////////////////////// The end
