.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
//
}

.social__link {
  display: block;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url('../../img/icon-insta.svg');
    width: 22px;
    height: 21px;
  }

  &--fb {
    background-image: url('../../img/icon-fb.svg');
    width: 15px;
    height: 28px;
  }

  &--twitter {
    background-image: url('../../img/icon-twitter.svg');
    width: 23px;
    height: 20px;
  }
}

//End
