.social {
  padding: 2px 2px 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  outline: none;

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }

  &:hover .site-footer__logo-icon,
  &:focus .site-footer__logo-icon {
    fill: $dark-blue-hover;
  }

  &:active .site-footer__logo-icon {
    fill: $dark-blue-hover;
    opacity: 0.3;
  }
}

////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .social__item {
    margin: 0 15px;
    padding: 0 0 0 10px;
  }
}

///////////////////////////////////////////////// The end
