.top-product {
  position: relative;
  padding: 20px 0 42px;
}

.top-product__image {
  width: 100%;
  height: auto;
}

.top-product__title {
  @include font($bold, 25px, 30px, $black);
  margin: 5px 0;
}

.top-product__mark {
  @include font($bold, 17px, 20px, $blue);
  text-transform: uppercase;
}

.top-product__description {
  @include font($regular, 15px, 24px, $gray);
  margin: 0;
  padding: 20px 0 15px 0;
}

.top-product__properties {
  @include font($regular, 15px, 20px, $gray);
  width: 100%;
  border: none;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.top-product__property {
  border-width: 0;
  min-height: 40px;
  border-bottom: 1px solid #ececec;
}

.top-product__property-name {
  padding: 10px 0;
}

.top-product__property-value {
  padding: 10px 0 10px 15px;
}

.top-product__price {
  @include font($bold, 17px, 24px, $gray);
  margin: 0 0 5px 0;
  padding: 16px 0 20px;
  text-align: center;
}

.top-product__purchase-button {
  width: 100%;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .top-product {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 0;
  }

  .top-product__header {
    margin: 0;
    padding: 0 0 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-product__title {
    @include font($bold, 43px, 50px, $black);
    display: inline-block;
    margin-right: auto;
    padding: 0;
  }

  .top-product__mark {
    width: 70px;
    margin: 3px 30px 0 0;
    line-height: 17px;
    text-align: center;
  }

  .top-product__content {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 0 45px 50px 0;
    display: flex;
    flex-direction: column;
  }

  .top-product__description {
    width: auto;
    padding: 0;
    margin: 0 0 35px 0;
    font-size: 17px;
    line-height: 30px;
  }

  .top-product__properties {
    width: 100%;
  }

  .top-product__property-name {
    padding: 10px 0 10px;
  }

  .top-product__property-value {
    padding: 10px 0 10px 0;
  }

  .top-product__picture {
    width: 50%;
  }

  .top-product__image {
    margin-top: 5px;
    width: 100%;
    height: auto;
    order: 2;
  }

  .top-product__purchase {
    position: absolute;
    bottom: 6px;
    left: 1px;
    box-sizing: border-box;
    width: 50%;
    padding: 0 45px 0 0;
    order: 3;
  }

  .top-product__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .top-product {
    min-height: 636px;
    padding-bottom: 0;
  }

  .top-product__header {
    position: absolute;
    padding: 50px 0 0 50px;
  }

  .top-product__title {
    @include font($bold, 53px, 57px, $black);
  }

  .top-product__mark {
    order: -1;
    margin-right: 50px;
    padding: 8px 0 0;
  }

  .top-product__content {
    padding: 155px 60px 135px 175px;
    justify-content: flex-start;
  }

  .top-product__description {
    margin-bottom: 50px;
    padding-top: 5px;
  }

  .top-product__purchase {
    padding: 0 60px 0 175px;
    bottom: 8px;
    left: 1px;
  }
}

///////////////////////////////////////////////// The end
