.zig-zag {
  position: relative;
  padding: 0;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 2;

  &--fill {
    background-image: url("../img/bg-zigzag-fill.svg");
  }

  &--line {
    background-image: url("../img/bg-zigzag-line.svg");
  }
}

/////////////////////////////////////////////////
// @media (min-width: $tablet-width) {
//   .zig-zag {
//     //
//   }
// }
// /////////////////////////////////////////////////

// @media (min-width: $desktop-width) {
//   .zig-zag {
//     //
//   }
// }
///////////////////////////////////////////////// The end
