.zig-zag {
  position: relative;
  padding: 0;
  width: 100%;
  height: 9px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 320px 7px;
  background-position-x: 8px;
}

/////////////////////////////////////////////////

@media (min-width: $tablet-width) {
  .zig-zag {
    height: 17px;
    min-width: 768px;
    background-size: 768px 17px;
    background-position-x: 20px;
  }
}

/////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .zig-zag {
    height: 23px;
    width: 1050px;
    background-size: 1050px 21px;
    background-position-x: 25px;
  }
}


///////////////////////////////////////////////// The end
