body {
  font-family: "Open-Sans", "Arial", sans-serif;
}

/////////////////////////////////////////////
// * {
//   outline: dotted 1px;
//   outline-color: rgba(255, 0, 0, 0.2);
//   background-color: rgba(255, 200, 0, 0.1);
// }

// *:hover {
//   background-color: rgba(255, 200, 0, 0.3);
// }
/////////////////////////////////////////////

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  position: relative;

  &--nav {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 50px;

    &--fill {
      background-color: $title-bg;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1150px;
    margin: 0 auto;

    &--fill {
      max-width: 100%;
    }
  }
}

//End
